@media screen and (max-width: 630px) {
  body {
    background-size: unset;
  }

  section.container-max {
    margin-top: 20%;
    width: 90%;
    height: 80vh;
  }

  section.container-video {
    width: 98%;
    height: 45vh;
  }
  section.container-video video {
    width: 322px;
    height: 45vh;
    background-color: black;
    display: none;
  }

  section.container-btn span i {
    margin-left: 130px;
  }

  section.container-btn span i:active {
    color: rgb(160, 157, 157);
    margin-left: 130px;
  }

  section.container-btn i:active {
    margin-left: 5px;
    color: rgb(160, 157, 157);
  }

  section.container-title {
    font-size: 18px;
    margin: 0px;
  }

  section.container-title i {
    font-size: 34px;
    margin-right: 2%;
    margin-top: 5px;
  }

  section.container-title h1 {
    margin-left: 10px;
  }
}
